.login-page {
  position: fixed; /* Remove fixed so it scrolls naturally */
  width: 100%;
  height: 100%;
  font-family: 'Poppins', -apple-system, Roboto, Helvetica, sans-serif;
  background-image: url('/loginbg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  flex-direction: column;
  display: flex;
}
.company-logo{
  width: 40px;
  height: 40px;
  margin: 20px auto; /* Center the logo */
  border-radius: 100%; /* Makes it circular if square image */
 
  
}
.navbar{
  position: relative;
  top: 0;
  width: 100%;
  height: 50;
  display: flex;
  display: flex;
  background: rgba(0, 0, 0, 0.5); /* White with transparency */
  backdrop-filter: blur(20px); /* Blur background */
}

.nav-links {
  display: flex;
  justify-content: space-between; /* Pushes left to far left, right to far right */
  align-items: center;
  width: 100%;
  padding: 0 20px; /* Add some padding for aesthetics */
  color: white;
  font-family: 'Poppins', -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 16px; /* Adjust font size as needed */
  font-weight: 550; /* Adjust font weight as needed */
}


.center-nav-links,
.right-nav-links {
  display: flex;
  gap: 50px; /* spacing between links in each section */
  
}
.left-nav-links{
  display: flex;
  gap: 10px; /* spacing between links in each section */
  font-weight: 500 ;
  align-items:center ;
  
}


.center-nav-links a:hover,
.right-nav-links a:hover {
  color:#E3963F
  
}


/* Make sure center stays centered regardless of left/right sizes */
.center-nav-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
}

.content-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  
 }
.forms-container{
  width:60%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  border-radius: 10px;
  margin:auto;
 
  
}

.user-icon {
  width: 150px;
  height: 150px;
  margin: 10px 0; /* space above and below */
  border-radius: 100%; /* makes it circular if square image */
  object-fit: cover;
}

.login-container,
.signup-container {
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centers the content vertically */
  backdrop-filter: blur(10px); /* Adds a blur effect to the background */
  padding: 20;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow for depth */
  margin: auto;
  
 
  
}

.login-container {
  background: rgba(0, 0, 0, 0.5); /* Black with transparency */

  color: white;
  border-radius: 10px;
}

.signup-container {
  background: rgba(255, 255, 255, 0.5); /* White with transparency */
  color: black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.login-container h1{
  font-size: 36px;
 
  font-weight: 600;
  
}

.login-forms,
.signup-forms {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  
  
}

.login-forms form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.login-forms input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.login-forms button {
  padding: 10px;
  background-color: #000000; /* Change to your desired color */
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  width: 50%;
  margin: 0 auto; /* This centers it horizontally */
  display: block; /* Ensures margin auto works properly */
  margin-bottom: 20;
  
}

.login-form input::placeholder {
  color: white;
  opacity: 1; /* Ensures it's fully white */
}



.login-forms button:hover {
  background-color: #E3963F; /* Change to your desired hover color */
  transition: ease-in-out 0.3s;
}

.signup-link {
  margin-top: 20px; /* Space above the link */
  text-align: center; /* Center the link */
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.signup-link a:hover{
  color: #E3963F;
}

.signup-link a{
  text-decoration: underline;
}


.signup-container h1{
  font-size: 36px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin-bottom: 40px; /* Add some space below the heading */
}


.signup-forms form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 10px;
  
}

.signup-forms input::placeholder {
  color: rgb(0, 0, 0);
  opacity: 1; /* Ensures it's fully white */
}
.signup-forms input {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 6px;
  font-size: 16px;
}

.signup-forms button {
  padding: 10px;
  background-color: #000000; /* Change to your desired color */
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  width: 50%;
  margin: 0 auto; /* This centers it horizontally */
  display: block; /* Ensures margin auto works properly */
  margin-bottom: 10;
  
}
.signup-forms button:hover {
  background-color: #E3963F; /* Change to your desired hover color */
  transition: ease-in-out 0.3s;
}



